

/********************* Log In View ***********************/

.logInHeader {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

.logInBtnContainer {
	padding: 5px 25px;
}

/**************** Orders View *******************/

.ordersListContainer {
	background-color: #ddd;
	font-family: 'Open Sans', sans-serif;
}